.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.fade {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.fade.show {
  opacity: 1;
  visibility: visible;
}
